.containermain {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .containermain {
    width: 80%;
  }
}

body {
  font-family: "Ink Free", Georgia;
}

.sitetitle {
  font-size: large;
}

.sitesubtitle {
  color: #999ea8;
}
